@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    
}
.colorCont{
    background-color: map-get($color, primario);
    .subrayado{
        text-decoration: none;
        color:  map-get($color, terciario);
    }
}
.fontClass{
    font-family: 'Oswald', sans-serif;
    color: map-get($color, primario);
}
.fondo{
    font-size: larger;
    a{
        text-decoration: none;
    }
}
.cuadro{
    background-color: map-get($color, secundario);
    .tamañoImg{
        width: 64px;
    }
}
body{
    background-color:antiquewhite;
}
