.headerI{
    width: 100%;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../img/heroo.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover ;
    background-attachment: fixed;
    .foto h2{
        font-family: 'Cormorant SC', serif;
    }
}
.headerP{
    width: 100%;
    position: absolute;
    .foto h2{
        font-family: 'Cormorant SC', serif;
    }
}

.backg{
   position: relative;
   z-index: 20;
   width: 100%; 
}
@media(min-width: 912px){
    .bg-dark{
        background-color: #040000;
        
    }
}
.navg a{
   color: #f4f4f4;
   font-size: 23px;
   padding: 10px 15px;
   text-align: center center;
   text-transform: uppercase;
   &:hover{
    background-color: #afaaaaa2;
   }
}
.textHeader{
    min-height: 100vh;
    color: #f4f4f4;
    h2{
        font-family: 'Anton', sans-serif;
    }
    span{
        letter-spacing: 5px;
        font-size: 1.3em;
        font-family: 'Anton', sans-serif;
        margin: 0 0 0 5px;
    }
    p{
        font-size: 1em;
    }
} 
.btn-yo{
    padding: 7px 12px;
    color: #f4f4f4;
    background-color:#352424a2;
    &:hover{
        color: #f4f4f4;
        background-color:#180d0d;
    }
}

body{
    background-color: #040000;
}
.mainI{
    position: relative;
    top:800px;
    text-align: center;
    color: white;
}
.fontClass{
    font-family: 'Cormorant SC', serif;
    color: white;
    font-size: 40px;
    padding: 30px;
}



