
$color:(
    primario: rgb(145, 61, 50),
    secundario: rgb(180, 179, 179),
    terciario: 
);

@import "footer";
@import "Contacto";
@import "ubicacion";
@import "general";

.tamañoTitle{
    font-size: 35px;
    font-optical-sizing: 20px;
    margin: 20px;
    padding: 10px;
}






