@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
$colorPrimario:rgb(145, 61, 50);


@import "footer";
@import "Contacto";
@import "ubicacion";
@import "general";
@import "index";


