@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
footer {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
}
footer a {
  text-decoration: none;
  color: rgb(21, 11, 11);
}
footer img {
  width: 150px;
}

form {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  padding: 20px;
  border-radius: 12px;
}
form textarea {
  min-height: 100px;
  min-width: 100%;
  resize: none;
}

* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

.colorCont {
  background-color: rgb(145, 61, 50);
}
.colorCont .subrayado {
  text-decoration: none;
}

.fontClass {
  font-family: "Oswald", sans-serif;
  color: rgb(145, 61, 50);
}

.fondo {
  font-size: larger;
}
.fondo a {
  text-decoration: none;
}

.cuadro {
  background-color: rgb(180, 179, 179);
}
.cuadro .tamañoImg {
  width: 64px;
}

body {
  background-color: antiquewhite;
}

.tamañoTitle {
  font-size: 50px;
  margin: 10px;
  padding: 30px;
  font-optical-sizing: 40px;
}

iframe {
  width: 100%;
}

.btn, .btn-dos, .btn-uno {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn-uno {
  background-color: rgb(210, 105, 30);
}

.btn-dos {
  background-color: rgb(171, 210, 30);
}

.encabezado {
  color: rgb(145, 61, 50);
}