@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+SC:wght@700&display=swap");
.tamañoTitle {
  font-size: 50px;
  margin: 10px;
  padding: 30px;
  font-optical-sizing: 40px;
}

.headerI {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/heroo.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.headerI .foto h2 {
  font-family: "Cormorant SC", serif;
}

.headerP {
  width: 100%;
  position: absolute;
}
.headerP .foto h2 {
  font-family: "Cormorant SC", serif;
}

.backg {
  position: relative;
  z-index: 20;
  width: 100%;
}

@media (min-width: 912px) {
  .bg-dark {
    background-color: #040000;
  }
}
.navg a {
  color: #f4f4f4;
  font-size: 23px;
  padding: 10px 15px;
  text-align: center center;
  text-transform: uppercase;
}
.navg a:hover {
  background-color: rgba(175, 170, 170, 0.6352941176);
}

.textHeader {
  min-height: 100vh;
  color: #f4f4f4;
}
.textHeader h2 {
  font-family: "Anton", sans-serif;
}
.textHeader span {
  letter-spacing: 5px;
  font-size: 1.3em;
  font-family: "Anton", sans-serif;
  margin: 0 0 0 5px;
}
.textHeader p {
  font-size: 1em;
}

.btn-yo {
  padding: 7px 12px;
  color: #f4f4f4;
  background-color: rgba(53, 36, 36, 0.6352941176);
}
.btn-yo:hover {
  color: #f4f4f4;
  background-color: #180d0d;
}

body {
  background-color: #040000;
}

.mainI {
  position: relative;
  top: 800px;
  text-align: center;
  color: white;
}

.fontClass {
  font-family: "Cormorant SC", serif;
  color: white;
  font-size: 40px;
  padding: 30px;
}

.mainC {
  background: #181818;
  color: #fff;
  padding: 0 1.5em;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logoC {
  text-align: center;
  font-size: 3em;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background-color: #222222;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
}
.contact-form form div {
  margin: 0;
  padding: 1em;
}
.contact-form form button {
  width: 50%;
  text-transform: uppercase;
  background-color: #80797e;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
.contact-form form button:hover {
  background-color: rgba(48, 41, 41, 0.6352941176);
  color: #fff;
}
.contact-form form button:hover {
  color: #f4f4f4;
  background-color: rgba(45, 27, 27, 0.6352941176);
}
.contact-form form .estiloC {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #80797e;
  outline: none;
  color: #fff;
}
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #80797e;
  outline: none;
  color: #fff;
  min-height: 150px;
  min-width: 100%;
  resize: none;
}
.contact-form form .block {
  grid-column: 1/3;
}

.contact-info {
  background: #000;
}
.contact-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
  padding: 0;
  padding: 0.3em;
}
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 980px) {
  .mainC {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4 {
    padding: 1em;
    text-align: left;
  }
  .contact-info ul {
    padding: 1em;
    text-align: left;
  }
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
iframe {
  width: 100%;
}

footer {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
}
footer a {
  text-decoration: none;
  color: rgb(21, 11, 11);
}
footer img {
  width: 150px;
}

.mainI {
  position: relative;
  top: 800px;
  text-align: center;
  color: white;
}

.fontClass {
  font-size: 40px;
  padding: 30px;
}

.flip-card {
  width: 320px;
  height: 504px;
  perspective: 2000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 32px;
  background-color: #B1CFC8;
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}
.flip-card .flip-card-front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgb(8, 0, 0);
  text-align: center;
}

.card {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.16);
  transition: 0.4s;
  background: #f2f2f2;
}
.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 30px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

* {
  margin: 0;
  padding: 0;
  font-family: "oswald";
  box-sizing: border-box;
}

.fondo {
  font-size: larger;
  padding-top: 40px;
  padding-bottom: 90px;
}
.fondo a {
  text-decoration: none;
}

.medio {
  color: #f4f4f4;
  text-align: center;
  justify-content: center center;
  padding-top: 15px;
}

.nav-link {
  color: gray;
}

.btn-P {
  padding: 7px 12px;
  color: #f4f4f4;
  border-radius: 5px;
  background-color: #180d0d;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-P:hover {
  color: #020000;
  background-color: rgba(45, 27, 27, 0.6352941176);
}